In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()


Download data from this site https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2022-01.csv
(beware high size file)

In [63]:
df = pd.read_csv('./yellow_tripdata_2022-01.csv',
                parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], nrows=100 )

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [56]:
df_iter = pd.read_csv('./yellow_tripdata_2022-01.csv',
                parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], iterator=True, chunksize=100000)

In [58]:
df = next(df_iter)

In [59]:
# Insert column name to table 'yellow_taxi_data
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [54]:
from time import time

In [61]:
df_iter

In [66]:
total_row = 0
for i, data in enumerate(df_iter, 1):
    row, _ = data.shape
    total_row += row
    time_start = time()
    data.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    time_end = time()
    print(f"Appending {row} data to yellow_taxi_data, took {time_end - time_start} seconds")

Appending 100000 data to yellow_taxi_data, took 11.116126298904419 seconds
Appending 100000 data to yellow_taxi_data, took 11.560218334197998 seconds
Appending 100000 data to yellow_taxi_data, took 15.642257928848267 seconds
Appending 100000 data to yellow_taxi_data, took 16.755284309387207 seconds
Appending 100000 data to yellow_taxi_data, took 17.116516590118408 seconds
Appending 100000 data to yellow_taxi_data, took 17.65019702911377 seconds
Appending 100000 data to yellow_taxi_data, took 16.792010068893433 seconds
Appending 100000 data to yellow_taxi_data, took 16.238341331481934 seconds
Appending 100000 data to yellow_taxi_data, took 15.508149147033691 seconds
Appending 100000 data to yellow_taxi_data, took 14.731082201004028 seconds
Appending 100000 data to yellow_taxi_data, took 14.588993549346924 seconds

/tmp/ipykernel_8460/1859306845.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, data in enumerate(df_iter, 1):

Appending 100000 data to yellow_taxi_data, took 13.95138144493103 seconds
Appending 31163 data to yellow_taxi_data, took 4.165277719497681 seconds